@import "tailwindcss";

@theme {
  --font-serif: "DM Serif Display", Georgia, serif;
  --font-nav: "Josefin Sans", sans-serif;
  --font-mono: "DM Mono", "Courier New", monospace;

  --color-bg: #fafaf8;
  --color-surface: #f2f1ee;
  --color-border-base: #e0ddd7;
  --color-text-base: #1a1916;
  --color-muted: #7a7770;
}
